<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Registrate</h1>
        <div class="d-flex justify-content-center mb-3">
            <a href="/" class="btn btn-link">Home</a>
            <a href="/login" class="btn btn-link">Ingresar</a>
        </div>       
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="/register" method="POST" class="border p-4 shadow-sm rounded" novalidate>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <!-- en el value del input preguntamos si existe oldData en locals, y si coincide con el name del input, si lo hace, asignar el valor a value, sino value quedara vacio  -->
                        <input type="text" class="form-control" id="name" name="name" placeholder="nombre" value="">
                        <!-- aqui preguntamos si hay errores en locals, y si el error coincide con el name del input. si hay enviamos el error en un div con class="error-msg" -->
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <!-- en el value del input preguntamos si existe oldData en locals, y si coincide con el name del input, si lo hace, asignar el valor a value, sino value quedara vacio  -->
                        <input type="email" class="form-control" id="email" name="email" placeholder="email" value="">
                         <!-- aqui preguntamos si hay errores en locals, y si el error coincide con el name del input. si hay enviamos el error en un div con class="error-msg" -->
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contrase単a</label>
                        <!-- en el value del input preguntamos si existe oldData en locals, y si coincide con el name del input, si lo hace, asignar el valor a value, sino value quedara vacio  -->
                        <input type="password" class="form-control" id="password" name="password" placeholder="contrase単a" value="">
                         <!-- aqui preguntamos si hay errores en locals, y si el error coincide con el name del input. si hay enviamos el error en un div con class="error-msg" -->
                    </div>
                    <div class="mb-3">
                        <label for="retypePassword" class="form-label">Repetir Contrase単a</label>
                        <!-- en el value del input preguntamos si existe oldData en locals, y si coincide con el name del input, si lo hace, asignar el valor a value, sino value quedara vacio  -->
                        <input type="password" class="form-control" id="retypePassword" name="retypePassword" placeholder="repetir contrase単a" value="">
                         <!-- aqui preguntamos si hay errores en locals, y si el error coincide con el name del input. si hay enviamos el error en un div con class="error-msg" -->
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Registrarme</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>
